ol {
  list-style: none;
  margin-left: 1em;
  counter-reset: line;
}


ol > li {
  position: relative;
  margin-bottom: 1.5em;
}

ol > li:before {
	position: absolute;
	left: -2.25em;
	display: inline-block;
  width: 22px;
	height: 22px;
	margin-right: 0.5em;
  background-color: #0a7bd8;
	border-radius: 50%;
	color: #fff;
	text-align:center;
  line-height: 1.5em;
	counter-increment: line;
	content: counter(line);
}